.card-img-top{
    width: auto;
    height: 280px;
}

.category li{
    border: 1px solid #b4b4b4;
    border-radius: 15px;
    list-style: none;
    padding: 3px 10px;
    margin: 5px;
    display: inline-block;
}

.category li a{
    text-decoration: none;
}