<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse"
            style="display: flex; justify-content: space-between; width: 75%"
          >
            <form class="d-flex" style="margin: 0 18%;">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                style="width: 388px;"
              />
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" routerLink="/products">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/seller-auth">Seller</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Cart</a>
              </li>
              <li class="nav-item" *ngIf="!loggedObj.custId">
                <a class="nav-link" (click)="this.isLoginVisible=!this.isLoginVisible">Login</a>
              </li>
              <li class="nav-item" *ngIf="!loggedObj.custId">
                <a class="nav-link" (click)="this.isRegisterVisible=!this.isRegisterVisible">Register</a>
              </li>
              <li class="nav-item" *ngIf="loggedObj.custId">
                <strong class="nav-link">Welcome {{loggedObj.name}}</strong>
              </li>
              
               <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
            </ul>
          </div>
        </div>
      </nav>

      <router-outlet></router-outlet>

      <div class="modal d-block" tabindex="-1" *ngIf="isRegisterVisible">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Register</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="this.isRegisterVisible=!this.isRegisterVisible"></button>
            </div>
            <div class="modal-body">            
              <div class="mb-3">
                <label for="" class="form-label">Name</label>
                <input type="text" class="form-control" [(ngModel)]="registerObj.Name">
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Mobile</label>
                <input type="number" class="form-control" [(ngModel)]="registerObj.MobileNo">
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Password</label>
                <input type="password" class="form-control" [(ngModel)]="registerObj.Password">
              </div>
              <button type="button" class="btn btn-primary w-100" (click)="onRegister()">Register</button>
            
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="this.isRegisterVisible=!this.isRegisterVisible">Close</button>
             
            </div>
          </div>
        </div>
      </div>

      <div class="modal d-block" tabindex="-1" *ngIf="isLoginVisible">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Login</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="this.isLoginVisible=!this.isLoginVisible"></button>
            </div>
            <div class="modal-body">    
              <!-- api problem we have to pass mobile no instead of username  -->
              <div class="mb-3">
                <label for="" class="form-label">Mobile</label>
                <input type="text" class="form-control" [(ngModel)]="loginObj.UserName">
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Password</label>
                <input type="password" class="form-control" [(ngModel)]="loginObj.UserPassword">
              </div>
              <div class="mb-3 d-flex justify-content-between">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Remember</label>
                </div>
                <a href="">forgot password</a>
              </div>
             
              <button type="button" class="btn btn-primary w-100" (click)="onLogin()">Login</button>
            
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="this.isLoginVisible=!this.isLoginVisible">Close</button>
             
            </div>
          </div>
        </div>
      </div>
      
</div>

